<div class="row">
  <div style="background-color:red;" class="jumbotron col-md-10 col-md-offset-1">
    <h1>
      Editing Player: 
      <%= @player.nameFirst %>
      <%= @player.nameLast %>
    </h1>
  </div>
</div>

<%= render 'form' %>

<div class="row col-md-offset-1">
  <div class="btn btn-lg">
    <%= link_to 'Show    ', @player %> |
  </div>
  <div class="btn btn-lg">
    <%= link_to 'Back to Players', players_path %>
  </div>
</div>