<p id="notice"><%= notice %></p>
<div class="logo"></div>
<h1>Washington Capitals - Roster</h1>

<table class="table table-striped">
  <thead>
    <tr class=".row">
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Position</th>
      <th>GP</th>
      <th>Goals</th>
      <th>Assists</th>
      <th>Points</th>
      <th>Shots Against</th>
      <th>Shots Saved</th>
      <th>Save %</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.nameFirst %></td>
        <td><%= player.nameLast %></td>
        <td><%= player.age %></td>
        <td><%= player.position %></td>
        <td><%= player.gamesPlayed %></td>
        <td><%= player.goals %></td>
        <td><%= player.assists %></td>
        <td><%= player.points %></td>
        <td><%= player.shotsAgainst %></td>
        <td><%= player.shotsSaved %></td>
        <td><%= player.savePercetage %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
