<p id="notice"><%= notice %></p>
<div class="row">
  <div style="background-color:red;" class="jumbotron col-md-10 col-md-offset-1">
    <h1>
      <%= @player.nameFirst %>
      <%= @player.nameLast %> --
      <%= @player.position %>
    </h1>  
  </div>
</div>

<h2 class="col-md-offset-1">
  <strong>Age:</strong>
  <%= @player.age %>
</h2>

<h2 class="col-md-offset-1">
  <strong>Games Played:</strong>
  <%= @player.gamesPlayed %>
</h2>

<h2 class="col-md-offset-1">
  <strong>Goals:</strong>
  <%= @player.goals %>
</h2>

<h2 class="col-md-offset-1">
  <strong>Assists:</strong>
  <%= @player.assists %>
</h2>

<h2 class="col-md-offset-1">
  <strong>Points:</strong>
  <%= @player.points %>
</h2>

<h2 class="col-md-offset-1">
  <strong>Shots Against:</strong>
  <%= @player.shotsAgainst %>
</h2>

<h2 class="col-md-offset-1">
  <strong>Shots Saved:</strong>
  <%= @player.shotsSaved %>
</h2>

<h2 class="col-md-offset-1">
  <strong>Save Percentage:</strong>
  <%= @player.savePercetage %>
</h2>

<div class="col-md-offset-1">
  <div class="btn btn-lg btn-primary">
    <%= link_to 'Back to Players', players_path %>
  </div>
  <div class="btn btn-lg btn-warning">
    <%= link_to 'Edit', edit_player_path(@player) %>
  </div>
</div>